<!DOCTYPE HTML>
<html>
	<head>
		<title>Welcome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<style>
			body {
				background-image: url("/static/images/banner.jpg");
				background-repeat: no-repeat;
				background-size: cover;
				background-attachment: fixed;
				background-position: center;
			}
		</style>
	</head>
	<body>

			<header id="header" class="alt">
				<div class="inner">
					<h1>Welcome to Academic Searching System</h1>
					<p> <a href="/login"> Log In</a></p>
				</div>
			</header>

	</body>
</html>